langchain
langchain-core
langchain-groq
langchain-community
langchain-tavily
langchain-huggingface
sentence-transformers
wikipedia
langgraph
python-dotenv
arxiv
faiss-cpu
langgraph-checkpoint-sqlite
streamlit
whisper
audio_recorder_streamlit
pytorch